<br>
<br>
<footer class="container bg-light border-top border-success pt-2">

    <h4 class=" text-center text-dark"> Síguenos en nuestras redes sociales: </h4>

    <div class="container row justify-content-md-center  ">
        <a href="https://www.facebook.com"> <img class="mr-4" src="" alt="facebook" width="50"
                height="50"></a>
        <a href="https://www.twitter.com"> <img class="mr-4" src="" alt="twitter" width="50"
                height="50"></a>
        <a href="https://www.instagram.com"> <img class="mr-4" src="" alt="instagram" width="50"
                height="50"></a>
        <a href="https://www.whatsapp.com"> <img src="" alt="whatsapp" width="50" height="50"></a>

    </div>
    <br>
    <p class="text-center text-dark"> Autor: Ing. Yeison Andres Ospino Diaz</p>
</footer>
