

<br>

<br>

<H2 class="text-center"> FORMUALRIO DE REGISTRO</H2>
<br>
<div class="row d-flex justify-content-center">
  <div class="col-6 ">

    <form #registrodeusuarioForm="ngForm" (ngSubmit)="registrar()">
      <div class="form-group">
        <label for="">Documento</label>
        <input type="text" class="form-control" id="documento" name="documento" #documento="ngModel"
          [(ngModel)]="usu.documento" placeholder="Documento del usuario">
      </div>
      <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="usu.nombre"
          placeholder="Nombre del usuario">
      </div>
      <div class="form-group">
        <label for="">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" #telefono="ngModel"
          [(ngModel)]="usu.telefono" placeholder="Telefono de contacto del usuario">
      </div>
      <div class="form-group">
        <label for="">Correo</label>
        <input type="email" class="form-control" id="correo" name="correo" #correo="ngModel" [(ngModel)]="usu.correo"
          placeholder="Correo de contacto del usuario">
      </div>
      <div class="form-group">
        <label for="">Dirección</label>
        <input type="text" class="form-control" id="direccion" name="direccion" #direccion="ngModel"
          [(ngModel)]="usu.direccion" placeholder="Dirección del usuario">
      </div>
      <div class="form-group">
        <label for="">Ciudad</label>
        <input type="text" class="form-control" id="ciudad" name="ciudad" #ciudad="ngModel" [(ngModel)]="usu.ciudad"
          placeholder="Ciudad de ubicacion del usuario">
      </div>
      <div class="form-group">
        <label for="">Departamento</label>
        <input type="text" class="form-control" id="departamento" name="departamento" #departamento="ngModel"
          [(ngModel)]="usu.departamento" placeholder="Departamento de ubicacion del usuario">
      </div>
      <div class="form-group">
        <label for="">Contraseña</label>
        <input type="password" class="form-control" id="pass" name="pass" #pass="ngModel" [(ngModel)]="usu.pass"
          placeholder="Ingreseña una contraseña">
      </div>
      <div class="form-group">
        <label for="">Repita la contraseña</label>
        <input type="password" class="form-control" id="" placeholder="Repita la contraseña">
      </div>     


      <button type="submit" class="btn btn-primary">Registrar </button>
    </form>
  </div>
</div>