<br>
<br>

<h3 class="container text-center "> CONTACTOS CON EL USUARIO </h3>
    <br>

    <div class="container px-4">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">


                    <P class="font-weight-bold border border-success p-2"> DIRECCION: Calle X # XX - XX</P>
                    <P class="font-weight-bold border border-success p-2"> TELEFONO: (035) 565 12XX</P>
                    <P class="font-weight-bold border border-success p-2"> WHATSAPP: 317 123 45XX </P>
                    <P class="font-weight-bold border border-success p-2"> CORRREO: agrocomercio@gmail.com </P>
                </div>
            </div>

            <div class="col">
                <div class="p-3 border bg-light">

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.9291617749986!2d-73.61637298474655!3d8.309838702123985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d857c46940c3f%3A0x78813bb2be41ea70!2sCl.%205%20%2320-99%20a%2020-21%2C%20Aguachica%2C%20Cesar!5e0!3m2!1ses!2sco!4v1608931924683!5m2!1ses!2sco"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

