<br>
<br>

<div class="d-flex justify-content-center">

    <div>       
       <a class="text-white" [routerLink]="['/usupanel']">  <button type="submit" class="btn btn-primary mr-2"> Datos del usuario </button></a>
    </div>
    <div>
        <a class="text-white" [routerLink]="['/cambiarpass']" > <button type="submit" class="btn btn-primary mr-2"> Cambiar contraseña</button></a>
    </div>

    <div>
         <a class="text-white" [routerLink]="['/comprausu']" ><button type="submit" class="btn btn-primary mr-2"> Compras realizadas</button></a>
    </div>
    <div>
        <a class="text-white" [routerLink]="['/favoritos']" > <button type="submit" class="btn btn-primary mr-2"> Favoritos</button></a>
    </div>    

</div>



<br>

<br>

<H2 class="text-center">    FAVORITOS</H2>
<br>
<div class="d-flex flex-row">
<div class="col-2">
<img src="" alt="" width="150" height="150">

</div>
<div class="d-flex flex-column col-6">
    <label for="">Semillas de tomate cherry</label>
    <label for="">$5.000</label>
    <label for="">26</label>
    <button type="submit" class="btn btn-primary" id="ver">Ver producto</button>
</div>

<div class=" d-flex align-items-center col-1">
    <button type="submit" class="btn btn-danger">Quitar favorito</button>
</div>

</div>