<br>
<br>

<h3 class="container text-center "> ¿QUIÉNES SOMOS? </h3>
    <br>
    <div class="container px-4 bg-light ">
        <div class="row gx-5">
            <div class="col">
                <div class="p-5  ">

                    <p class=" text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsa quos ab, porro, magni aliquid vitae
                        fugit magnam a deserunt alias laboriosam ad fuga laudantium asperiores esse dolores repudiandae officiis?
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="p-3 ">

                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
 
    <br>
    <div class="container px-4 bg-light ">
        <div class="row gx-5">
           
            <div class="col">
                <div class="p-3 ">

                    <img src="" alt="">
                </div>
            </div> 
            <div class="col">
                <div class="p-5 ">

                    <p class=" text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsa quos ab, porro, magni aliquid vitae
                        fugit magnam a deserunt alias laboriosam ad fuga laudantium asperiores esse dolores repudiandae officiis?
                    </p>
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="container px-4 bg-light ">
        <div class="row gx-5">
            <div class="col">
                <div class="p-5  ">

                    <p class=" text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsa quos ab, porro, magni aliquid vitae
                        fugit magnam a deserunt alias laboriosam ad fuga laudantium asperiores esse dolores repudiandae officiis?
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="p-3 ">

                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>