<br>
<br>

<div class="d-flex justify-content-center">

    <div>       
       <a class="text-white" [routerLink]="['/listarusu']">  <button type="submit" class="btn btn-primary mr-2"> Administar usuarios </button></a>
    </div>
    <div>
        <a class="text-white" [routerLink]="['/registrarpro']" > <button type="submit" class="btn btn-primary mr-2"> Registrar producto</button></a>
    </div>

    <div>
         <a class="text-white" [routerLink]="['/listarpro']" ><button type="submit" class="btn btn-primary mr-2"> Modificar producto</button></a>
    </div>
    <div>
        <a class="text-white" [routerLink]="['/ventas']" > <button type="submit" class="btn btn-primary mr-2"> Ventas Facturadas</button></a>
    </div>
    <div>
       <a class="text-white" [routerLink]="['/listarnot']" >   <button type="submit" class="btn btn-primary mr-2">Noticias</button></a>
    </div>
    <div>
      <a class="text-white" [routerLink]="['/slider']" >   <button type="submit" class="btn btn-primary mr-2"> Slider</button></a>
    </div>
    

</div>